{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="content-info">
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
    {% for post in page_obj %}
      <ul>
        <li>
          Автор: {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %} <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
        </li>
        <li class=entry>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <div class="image-content-mini">{% thumbnail post.image "400x400" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">{% endthumbnail %}
      </div>
      <p>{{ post.text }}</p>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    </div>
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}