{% extends "base.html" %}
{% load thumbnail %}
{% load user_filters %}

{% block title %}Пост {{ post|truncatechars:30 }}{% endblock %}

{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:'d E Y' }}
        </li>
        <li class="list-group-item">
          Группа:
          {% if post.group %}
            {{ post.group }}
          {% else %}
            ---Пусто---
          {% endif %}
          {% if post.group %}
            <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
          {% endif %}
        </li>
        <li class="list-group-item">
          Автор: {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}
        </li>
        <li class="list-group-item">
          Всего постов автора: {{ post.author.posts.all.count }}
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <div class="post-in-post-detail">
        <div class="image-content">
          <center>
          {% thumbnail post.image "400x400" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          </center>
        </div>
        <p>{{ post }}</p>
        <div class="post-in-post-detail">
          {% if user.is_authenticated %}
          <div class="card my-4">
            <h5 class="card-header">Добавить комментарий:</h5>
              <div class="card-body">
                <form method="post" action="{% url 'posts:add_comment' post.id %}">{% csrf_token %}
                  <div class="form-group mb-2">
                    {{ form.text|addclass:"form-control" }}
                  </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
              </div>
          </div>
        {% endif %}

        {% for comment in comments %}
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0">
                <a href="{% url 'posts:profile' comment.author.username %}">
                 {{ comment.author.username }}
                </a>
              </h5>
              <p>
                {{ comment.text }}
              </p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% if post.author == user %}
        <center> <a class="btn btn-primary" href="{% url 'posts:edit' post.id %}">редактировать запись</a>
      {% endif %}
    </article>
  </div>

{% endblock %}